{{!-- <style>
    body {
        background: ghostwhite;
        color: rgb(191, 191, 191);
    }

    h1 {
        text-shadow: 1px 1px 5px lightgray;
        transition-property: color, text-shadow;
        transition-duration: .8s;
    }

    a {
        text-decoration: none;
        color: rgb(191, 191, 191);
    }

    a:hover {
        text-decoration: none;
        color: gray;
    }

    h1:hover {
        color: gray;
        text-shadow: 0px 0px 2px lightgray;
    }

    .main-content {
        margin: 40px;
        width: 100%;
    }

    .notes-list {
        position: absolute;
        left: -22px;
        top: 30px;
        width: 200px;

    }

    .notes-form {
        position: absolute;
        left: 22px;
        top: 60px;

    }

    ul {
        list-style-type: none;
    }

    li {
        position: relative;
        transition-property: color;
        transition-duration: .5s;
    }

    li:hover {
        color: gray;
    }

    li:hover .del-note {
        color: rgb(182, 50, 50)
    }

    button {
        border: none;
        background: none;
    }

    .del-note {
        color: rgb(182, 50, 50, 0);
        position: absolute;
        top: 0px;
        right: -30px;
        transition-property: color;
        transition-duration: .5s;
    }

    #save-edit {
        color: gray;
        position: absolute;
        right: 0px;
        bottom: -25px;
        transition-property: color;
        transition-duration: .3s;
    }

    #save-edit:hover {
        color: rgb(30, 255, 75);

    }

    input {
        border: lightblue 1px solid;
        border-radius: 3px;
        background: none;
        margin: 2px;
        width: 250px;
    }
</style> --}}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <a href="/">
                <h1>notes.</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="notes-list">
                <ul>
                    {{#each notes}}
                    <a href="/{{this.id}}">
                        <li class="note" data-noteid="{{this.id}}">
                            <h5>{{this.title}}</h5>
                            <p>{{this.text}}</p>
                            <button data-noteid="{{this.id}}" class="del-note">X</button>
                        </li>
                    </a>
                    {{/each}}
                </ul>
        
            </div>
        </div>
        <div class="col-md-8">
            <div class="notes-form">
                <form id="update-note" data-noteid="{{note_edit.id}}">
                    <input type="text" name="title"  value="{{note_edit.title}}" placeholder="title"><br>
                    <input type="text" name="text"  value="{{note_edit.text}}" placeholder="text"><br>
                    <button type="submit" id="save-edit">update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#update-note").on("submit", function (event) {
        event.preventDefault()

        let edit_note = {
            id: $("#update-note").attr("data-noteid"),
            text: $("#update-note [name=text]").val(),
            title: $("#update-note [name=title]").val()
        }
        $.ajax("/"+edit_note.id, {
            type: "PUT",
            data: edit_note
        }).then(
            function () {
                console.log("updated note");
                window.location = "/"
                
            }
        );
    })

    $(".del-note").on("click", function (event) {
        let id = $(this).attr("data-noteid")
        console.log("ID " + id)
        $.ajax("/delete/" + id, {
            type: "GET",
            data: { id: id }
        }).then(
            function () {
                console.log("deleted note");
                location.reload();
            }
        );
    })



</script>